<p>
  <span class="comment-rating"><%= comment.format_rating %></span>
</p>

<div>
  <p>
    <%= user_comment ? (link_to 'COMMENT', comment.post, class: 'post-user') : (link_to "u/#{comment.author}", comment.user, class: 'post-user') %> •
    <span class="creation-time"><%= distance_of_time_in_words(comment.created_at.to_i, Time.now.utc.to_i) %> ago</span>
  </p>

  <p><%= comment.body %></p>
</div>
