<ul class="post-container">
  <% @posts.each do |post| %>
    <li class="post">
      <%= render post, link_title: true, show_body: false, show_picture: true, show_url: false, show_comments: true %>
    </li>
  <% end %>
</ul>