<div class="post">
  <%= render @post, show_body: true, show_url: true, show_comments: false %>
</div>

<div class="post-comments">
  <%= render partial: "comments/comment", collection: @post.comments %>
</div>
