<div class="post-container">
  <div class="post">
    <%= render @post, link_title: false, show_body: true, show_picture: true, show_url: true, show_comments: false %>
  </div>

  <ul class="post-comments">
    <% @post.comments.each_with_index do |comment, i| %>
      <li class="comment" style=<%= comment.parent_comment_id ? "margin-left:#{@comment_indents[i]}px;" : "" %>>
        <%= render comment, user_comment: false %>
      </li>
    <% end %>
  </ul>
</div>
