body {
  background-color: #d8d8d8a6;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  font-size: 15px;
  display: grid;
  grid-template-rows: 50px 1fr;
  gap: 20px;
}

a {
  display: inline-block;
  width: max-content;
  color: #000000;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

header { box-shadow: 4px 8px 8px #000000d7; }

header > nav {
  background-color: #ececec;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav .nav-links {
  display: flex;
  gap: 10px;
}

header .heading { font-size: 22px; }

header .heading > span { color: #a10101; }

header .search-bar {
  font-size: 18px;
  border: none;
  border-radius: 3px;
  padding: 6px;
}

main { margin: 15px; }

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.post {
  width: 700px;
  padding: 10px;
  border: 1px solid #6161614f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post:hover { background-color: #44444415; }

.post-rating {
  padding-right: 5px;
  color: #a10101;
}

.post-title { font-weight: bold; }

.post-body { line-height: 130%; }

.creation-time {
  color: #414141;
  font-weight: normal;
}

.post-url { color: #006159; }

.user-contributions > li { margin-bottom: 10px; }

.post-comments {
  width: 700px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 15px;
}

.comment {
  display: flex;
  gap: 5px;
}

.comment-counter {
  padding: 3px 2px 3px 2px;
  border-radius: 3px;
  text-align: center;
  color: #04a5f0;
}

.comment > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-comment { text-decoration: underline; }

.user-card {
  position: absolute;
  top: 80px;
  right: 15px;
  width: min-content;
  padding: 5px;
  border: 1px solid #6161614f;
  border-radius: 4px;
  text-align: center;
}

.user-card > img {
  border: 4px solid #a10101;
  border-radius: 50%;
}

.user-card > p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}
